.footer-bottom {
    position: bottom;
    background: rgb(128, 0, 53);
    height: 200px;
    width: 100%;
    padding: 40px;
    margin-bottom: 50px;
    margin-top: 80px;
    top:50px;
}
h5 {
    color: rgb(238, 255, 0);
}
h6 {
    color: white;
}
